@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
    margin: 0px;
    padding: 0px;
}

#main_page {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1% 2%;
    background-color: lightgray;
    padding-bottom: 2%;
}
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
.main_pages {
    -webkit-box-shadow: lightslategray 2px -2px 5px;
    box-shadow: lightslategray 2px -2px 5px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 10px;
}
#profile_bc {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0px 0px;
    max-height: 200px;
}
.profile_data {
    height: 50%;
    margin: 5%;
    max-height: 150px;
}
.profile {
    position: relative;
    margin-top: 5px;
}
#pic {
    position: absolute;
    width: 15%;
    border: #fff solid 4px;
    border-radius: 50%;
    top: 40%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #868686;
}
.main_page2 {
    margin: 2% 3%;
}
.list-options {
    list-style-type: circle;
    margin-left: 20px;
    list-style-position: inside;
}
.wallpaper {
    margin-bottom: 20px;
}
.all_wallpapers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .navlink {
        width: 50px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        padding: 0px !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .navlink i {
        margin: 0px;
    }
    .navlink_text {
        display: none;
    }
    #v-pills-tab {
        width: 50px;
        min-width: 0px;
        background: rgb(236, 224, 203);
    }
}
@media screen and (max-width: 900px) {
    #main_page {
        padding: 0px;
        padding-bottom: 2%;
    }
    .profile {
        margin-top: 0px;
    }
    .main_pages {
        border-radius: 0px;
    }
    #profile_bc {
        border-radius: 0px;
    }
}
.intern-option,
.intern-option a {
    font-weight: bold;
    color: cadetblue;
    font-family: Roboto, Arial, sans-serif;
}
.intern-option a:hover {
    color: cadetblue;
}
.content_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.content_head a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.content_head img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.email_add {
    font-family: Roboto, Arial, sans-serif;
}
.Links_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.Links_content .content_head {
    min-width: 300px;
    width: 50%;
}
.navlink .active {
    background: whitesmoke;
    font-weight: bold;
}
.navlink {
    height: 5%;
    min-height: 40px;
    border-bottom: 0.5px solid lightgray;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 30px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}
.navlink a {
    color: #505050;
    text-decoration: none;
    background-color: transparent;
}

.navlink a:hover {
    text-decoration: none;
    color: #7e7e7e !important;
}
.navlink i {
    margin-right: 10px;
    font-size: 18px;
}
.profile-badge--width-330 {
    width: 100% !important;
    display: -ms-grid !important ;
    display: grid !important ;
    margin-bottom: 10px !important;
    min-height: 250px !important;
}
.profile-badge__content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.profile-badge__content-profile-image {
    width: 100px !important;
    height: 100px !important;
    margin-right: 10% !important;
}
.profile-badge__content-profile-name a {
    font-size: 20px !important;
    color: #0a66c2 !important;
    font-weight: bold !important;
    margin-right: 10% !important;
}
.profile-badge__content-profile-headline {
    font-weight: bold !important;
    color: cadetblue !important;
    font-family: Roboto, Arial, sans-serif !important;
    font-size: 1.6rem !important;
    margin: 0px 5%;
}
.profile-badge__content-profile-company-school-info-link--light {
    font-weight: bold !important;
    color: cadetblue !important;
    font-family: Roboto, Arial, sans-serif !important;
    font-size: 1.6rem !important;
    margin: 0px 5%;
    display: contents;
}
